@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: aliceblue;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 800;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #872341;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 400;
    margin-left: 35px;
    transition: .3s;
}

.navbar::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #872341;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a:hover,
.navbar a.active {
    color: cadetblue;
}

.home {
    height: 100vh;
    background: url('BG.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1{
    position: relative;
    font-size: 50px;
    font-weight: 700;
    line-height: 1,2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #872341;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position: relative;
    font-size: 35px;
    font-weight: 700;
    color: antiquewhite;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #872341;
    animation: showRight 1s ease forwards;
    animation-delay: 1.4s;
}

.home-content p {
    position: relative;
    font-size: 15px;
    margin: 20px 0 40px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #872341;
    animation: showRight 1s ease forwards;
    animation-delay: 1.7s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #872341;
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background: #F0DBAF;
    border: 2px solid #F0DBAF;
    border-radius: 8px;
    font-size: 19px;
    color: #872341;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #F0DBAF;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #F0DBAF;
}

.btn-box a:nth-child(2):hover {
    color: #872341;
}

.btn-box a:nth-child(2)::before {
    background: #F0DBAF;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #872341;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #872341;
    animation: showRight 1s ease forwards;
    animation-delay: 2.4s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #F0DBAF;
    border-radius: 50%;
    font-size: 20px;
    color: #F0DBAF;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #872341;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #F0DBAF;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 400px;
    height: 100%;
    background: transparent;
    transition: 3s;
}

.home-imgHover:hover {
    background: #872341;
    opacity: .8;
}

.home-imgHover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #872341;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 2;
}


@keyframes showRight {
    100% {
        width: 0;
    }
}